.btn1 {
  background-image: url("pigmentation/pigmentation1.png");
}
.btn2 {
  background-image: url("pigmentation/pigmentation2.png");
}
.btn3 {
  background-image: url("pigmentation/pigmentation3.png");
}
.btn4 {
  background-image: url("pigmentation/pigmentation4.png");
}
.btn5 {
  background-image: url("pigmentation/pigmentation5.jpg");
}
