.btn1 {
  background-image: url("relief/painoil1.png");
}
.btn2 {
  background-image: url("relief/painoil2.png");
}
.btn3 {
  background-image: url("relief/painoil3.jpg");
}
.btn4 {
  background-image: url("relief/painoil4.jpg");
}
.btn5 {
  background-image: url("relief/painoil5.png");
}
.btn6 {
  background-image: url("relief/painoil6.jpg");
}
