.btn1 {
  background-image: url("creame/creame1.png");
}
.btn2 {
  background-image: url("creame/creame2.png");
}
.btn3 {
  background-image: url("creame/creame3.png");
}
.btn4 {
  background-image: url("creame/creame4.png");
}
.btn5 {
  background-image: url("creame/creame5.png");
}
.btn6 {
  background-image: url("creame/creame6.jpg");
}
.btn7 {
  background-image: url("creame/creame7.jpg");
}

.btn8 {
  background-image: url("creame/creame8.jpg");
}
