.btn1 {
  background-image: url("hair_oil/hairoil1.png");
}
.btn2 {
  background-image: url("hair_oil/hairoil2.png");
}
.btn3 {
  background-image: url("hair_oil/hairoil3.png");
}
.btn4 {
  background-image: url("hair_oil/hairoil4.jpg");
}
.btn5 {
  background-image: url("hair_oil/hairoil5.png");
}
.btn6 {
  background-image: url("hair_oil/hairoil6.jpg");
}
.btn7 {
  background-image: url("hair_oil/hairoil7.jpg");
}
.btn8 {
  background-image: url("hair_oil/hairoil8.jpg");
}
.btn9 {
  background-image: url("hair_oil/hairoil9.jpg");
}
