.btn1 {
  background-image: url("shampoo/shampoo1.png");
}
.btn2 {
  background-image: url("shampoo/shampoo2.jpg");
}
.btn3 {
  background-image: url("shampoo/shampoo3.jpg");
}
.btn4 {
  background-image: url("shampoo/shampoo4.jpg");
}
.btn5 {
  background-image: url("shampoo/shampoo5.jpg");
}
.btn6 {
  background-image: url("shampoo/shampoo6.png");
}
.btn7 {
  background-image: url("shampoo/shampoo7.jpg");
}
