.btn1 {
  background-image: url("acne/acne1.png");
}
.btn2 {
  background-image: url("acne/acne2.png");
}
.btn3 {
  background-image: url("acne/acne3.png");
}
.btn4 {
  background-image: url("acne/acne4.png");
}
