.btn1 {
  background-image: url("dandruff/dandruff1.png");
}
.btn2 {
  background-image: url("dandruff/dandruff2.jpg");
}
.btn3 {
  background-image: url("dandruff/dandruff3.jpg");
}
.btn4 {
  background-image: url("dandruff/dandruff4.jpg");
}
.btn5 {
  background-image: url("dandruff/dandruff5.jpg");
}
.btn6 {
  background-image: url("dandruff/dandruff6.jpg");
}
.btn7 {
  background-image: url("dandruff/dandruff7.png");
}
.btn8 {
  background-image: url("dandruff/dandruff8.jpg");
}
.btn9 {
  background-image: url("dandruff/dandruff9.jpg");
}
.btn10 {
  background-image: url("dandruff/dandruff10.jpg");
}
