.btn1 {
  background-image: url("bath_powder/powder1.png");
}
.btn2 {
  background-image: url("bath_powder/powder2.jpg");
}
.btn3 {
  background-image: url("bath_powder/powder3.jpg");
}
.btn4 {
  background-image: url("bath_powder/powder4.jpg");
}
.btn5 {
  background-image: url("bath_powder/powder5.jpg");
}
.btn6 {
  background-image: url("bath_powder/powder6.png");
}
.btn7 {
  background-image: url("bath_powder/powder7.png");
}
