.btn1 {
  background-image: url("dye/hair_dye1.png");
}
.btn2 {
  background-image: url("dye/hair_dye2.jpg");
}
.btn3 {
  background-image: url("dye/hair_dye3.jpg");
}
.btn4 {
  background-image: url("dye/hair_dye4.jpg");
}
.btn5 {
  background-image: url("dye/hair_dye5.jpg");
}
.btn6 {
  background-image: url("dye/hair_dye6.jpg");
}
.btn7 {
  background-image: url("dye/hair_dye7.jpg");
}
.btn8 {
  background-image: url("dye/hair_dye8.jpg");
}
.btn9 {
  background-image: url("dye/hair_dye9.jpg");
}
.btn10 {
  background-image: url("dye/hair_dye10.jpg");
}
.btn11 {
  background-image: url("dye/hair_dye11.jpg");
}
