.btn1 {
  background-image: url("glowing/glowing1.png");
}
.btn2 {
  background-image: url("glowing/glowing2.png");
}
.btn3 {
  background-image: url("glowing/glowing3.png");
}
.btn4 {
  background-image: url("glowing/glowing4.png");
}
.btn5 {
  background-image: url("glowing/glowing5.jpg");
}
  