.btn1 {
  background-image: url("ubatan/ubatan1.png");
}
.btn2 {
  background-image: url("ubatan/ubatan2.png");
}
.btn3 {
  background-image: url("ubatan/ubatan3.jpg");
}
.btn4 {
  background-image: url("ubatan/ubatan4.jpg");
}