.btn1 {
  background-image: url("tightening/tightening1.png");
}
.btn2 {
  background-image: url("tightening/tightening2.png");
}
.btn3 {
  background-image: url("tightening/tightening3.png");
}
.btn4 {
  background-image: url("tightening/tightening4.png");
}
