.btn1 {
  background-image: url("nourishment/nourishment1.jpg");
}
.btn2 {
  background-image: url("nourishment/nourishment2.jpg");
}
.btn3 {
  background-image: url("nourishment/nourishment3.png");
}
.btn4 {
  background-image: url("nourishment/nourishment4.png");
}
.btn5 {
  background-image: url("nourishment/nourishment5.jpg");
}
