.btn1 {
  background-image: url("conditioning/conditioning1.png");
}
.btn2 {
  background-image: url("conditioning/conditioning2.png");
}
.btn3 {
  background-image: url("conditioning/conditioning3.jpg");
}
.btn4 {
  background-image: url("conditioning/conditioning4.png");
}
.btn5 {
  background-image: url("conditioning/conditioning5.png");
}
.btn6 {
  background-image: url("conditioning/conditioning6.jpg");
}
